body {
	color: #f3f4f6; /* gray-100 */
	background: linear-gradient(
		-45deg,
		#111827,
		/* gray-900 */ #1f2937,
		/* gray-800 */ #1e40af,
		/* blue-800 */ #0f766e /* teal-700 */
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
