body {
	color: #f3f4f6;
	background: linear-gradient(180deg, #375294, #0f172a, #24345c);
	min-height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}
